{% extends 'base.html' %}

{% block title %}
About Me
{% endblock %}

{% block content %}

<h1>About Me</h1>
    <b1>Hi, I'm Adam Horvitz and I am in 11th grade this year at North Broward Preparatory School! I am planning on majoring in computer science/engineering in college. Outside of school, I frequently volunteer at food drives for the needy, ocean cleanups, and at my sister's elementary school. I love learning about computers and engineering. I also frequently ride my bike and go swimming. I have family all around the country in many states.
</b1>
    <br><br>
    <div style="text-align: center;"><a href="https://ibb.co/19y9QNw"><img src="https://i.ibb.co/RCrCbKV/45053335-30-D5-47-A2-9849-85-A52-AD8-A409.jpg" alt="45053335-30-D5-47-A2-9849-85-A52-AD8-A409" border="0"></a></div>



{% endblock %}