{% extends 'base.html' %}





{% block title %}
Home
{% endblock %}

{% block content %}

<h2>Welcome to Adam's beautiful, amazing, and cool Flask log!!!!</h2>
<b1>Here we learn Flask and how to make websites. Join the fun TODAY!</b1>
    <p> Check out all of our amazing posts below</p>


<div class="row row-cols-1 row-cols-md-3">
{% for post in posts %}
  <div class="col mb-3">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
    <p class="card-text">{{ post.body }}</p>
    <a href="/post/{{ post.id }}" class="card-link">Read</a>
    <div class="card-footer text-muted">
        {{ post.category.name }}
    </div>
       </div>
    </div>

  </div>

    {% endfor %}
</div>
{% endblock %}